In [2]:
import pandas as pd

## Readind Data
# Read UniversalBank.csv file and store it into bank_df
bank_df = pd.read_csv("UniversalBank.csv")

#---------------
# Q1. 
# Delete ID and Zip.Code column. We are not going to use it for our analysis
#
# Your code here
#
#---------------

# preview universal.df
bank_df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [3]:
# set CreditCard to categorical variable
bank_df = bank_df.astype({'Personal Loan': 'category'})
bank_df.dtypes

Age                      int64
Experience               int64
Income                   int64
Family                   int64
CCAvg                  float64
Education                int64
Mortgage                 int64
Personal Loan         category
Securities Account       int64
CD Account               int64
Online                   int64
CreditCard               int64
dtype: object

In [4]:
from sklearn.model_selection import train_test_split

X = bank_df.drop(columns=['Personal Loan'])
y = bank_df['Personal Loan']

## Partitioning 
#---------------
# Q2. Set seed number so that you can get the same traing and test set whenever you create them. 
#
# Q3. Create train_X, train_y (70%) and test_X and test_y(30%) with universalNormX
# Your code here  
#
#---------------

In [47]:
import statsmodels.api as sm

# use Logit() to fit a logistic regression
logit_reg = sm.Logit(train_y, train_X).fit()
logit_reg.summary()

#---------------
# Q4. What are the significant variables? 
# 
# Your answer here
#
#---------------

Optimization terminated successfully.
         Current function value: 0.142139
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 3000
Model:                          Logit   Df Residuals:                     2989
Method:                           MLE   Df Model:                           10
Date:                Mon, 30 Nov 2020   Pseudo R-squ.:                  0.5462
Time:                        02:19:17   Log-Likelihood:                -426.42
converged:                       True   LL-Null:                       -939.61
                                        LLR p-value:                3.861e-214
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Age                   -0.4819      0.027    -17.902      0.000      -0.535      -0.429
Experience             0.4796      0.030     16.048      0.000       0.421       0.538
Income                 0.0487      0.003     15.739      0.000       0.043       0.055
Family                 0.6976      0.091      7.627      0.000       0.518       0.877
CCAvg                  0.0945      0.049      1.938      0.053      -0.001       0.190
Education              1.5869      0.135     11.786      0.000       1.323       1.851
Mortgage               0.0007      0.001      0.998      0.319      -0.001       0.002
Securities Account    -0.9720      0.354     -2.745      0.006      -1.666      -0.278
CD Account             3.6618      0.393      9.320      0.000       2.892       4.432
Online                -0.7980      0.194     -4.119      0.000      -1.178      -0.418
CreditCard            -1.0234      0.243     -4.212      0.000      -1.500      -0.547
======================================================================================
"""

In [48]:
import math 

odds_df = pd.DataFrame(columns=['feature', 'odds'])

for i, v in logit_reg.params.items():
    odds_df = odds_df.append(pd.DataFrame([[i, math.exp(v)]], columns=['feature', 'odds']), ignore_index=True)

odds_df

#---------------
# Q5. What seem more important variables? 
#
# Your answer here
#
#---------------

               feature       odds
0                  Age   0.617610
1           Experience   1.615465
2               Income   1.049908
3               Family   2.008999
4                CCAvg   1.099164
5            Education   4.888729
6             Mortgage   1.000672
7   Securities Account   0.378328
8           CD Account  38.932431
9               Online   0.450240
10          CreditCard   0.359388

In [61]:
from dmba import classificationSummary

# training confusion matrix
classificationSummary(train_y, round(logit_reg.predict(train_X)))
print()

# validation confusion matrix
classificationSummary(test_y, round(logit_reg.predict(test_X)))

#---------------
# Q7. What is the error rate, false positive rate, 
# and false negative rate from the confusion matrix of test set?
# Is there any sign of overfitting?
# 
# Your answer here
#
#---------------

Confusion Matrix (Accuracy 0.9450)

       Prediction
Actual    0    1
     0 2673   43
     1  122  162

Confusion Matrix (Accuracy 0.9585)

       Prediction
Actual    0    1
     0 1787   17
     1   66  130